.contacts{
	&__general{
		margin-top: 50px;
		margin-bottom: 50px;
		.main-contacts{
			margin-bottom: 50px;
			.info-icon{
				font-size: 20px;
				color: $secondary;
				margin-bottom: 10px;
				&__icon{
					padding-right: 20px;
				}
				&:hover{
					color: $main;
				}
			}
		}
		
	}
	&__persons{
		min-height: 240px;
	}
	.team{
		margin-bottom: 20px; 
		&__pos{
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 700;
			margin-bottom: 2px;
			color: $secondary;
			font-family: $heading-font;
		}
		&__name{
			color: $secondary;
			font-weight: 700;
			font-size: 15px;
			margin-bottom: 7px;
		}
	}
	@media only screen and (max-width: 600px){
		&__general{
			margin-top: 20px;
			margin-bottom: 20px;
			.main-contacts{
				.info-icon{
					font-size: 16px;
				}
			}
		}
	}
}
.contact-section2-content {
    position: relative;
    .map{
    	position: absolute;
	    right: 0;
	    width: 50%;
	    height: 100%;
	    #map-wrap{
	    	height: 100%;
	    }
	    .contacts__map{
	    	height: 100%;
	    }
    }
    &__text{
    	 position: absolute;
	    left: 0;
	    width: 50%;
	    height: 100%;
    }
    @media only screen and (max-width: 600px){
    	.map{
    		position: relative;
    		height: 280px;
    		width: 100%;
    		margin-bottom: 60px;
    	}
    	&__text{
    		position: relative;
    		width: 100%
    	}
    }
}


