footer{
	padding: 80px 0px;
    margin-top: 70px;
    background-color: $secondary;
    border-top: 10px solid $main;
}
.footer-content{
	display: flex;
	justify-content: center;
	&__item{
		float: left;
		max-width: 150px;
		margin-right: 30px;
		min-width: 80px;
		ul{
			display: block;
			li{
				a{
					color: $white; 
					font-size: 15px;
				}
			}
		}
		&__text, a{
			margin: 0;
			color: $white; 
			font-size: 15px;
		}
		&__title{
			text-transform: uppercase;
			color: $white; 
			font-size: 15px;
			font-family: $heading-font;
			margin-bottom: 5px;
		}

	}
	@media only screen and (max-width: 600px){
		display: block;
		&__item{
			float: unset;
			width: 100%;
		    max-width: 100%;
		    margin-bottom: 30px;
		}
	}

}