.hero-wrapper{
    overflow: hidden;
}
.hero{
    height:100vh;
    overflow:hidden;
    line-height:40vh;
    margin-bottom: 0px !important;
    &__link{
        text-decoration: none;
    }
    &__content{
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        text-align: center;
    }
    &__item{
        height:100vh;
        background-repeat: no-repeat;
        position:relative;
        background-position: -100px center;
        background-size: 80vh;
        background-position-y: bottom;
        &.full{
            &:before{
                position:absolute;
                left:0;
                top:0;
                right:0;
                bottom:0;
                content:'';
                background: #2f2924;
                
            }
        }
        &__inner{
            margin: auto;
            width: 500px;
            text-align:center;
        }
        &.full-width{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right;
            .hero__item__inner{
                line-height:1.5;
                display:inline-block;
                vertical-align:middle;
                width: 550px;
                text-align: center;
            }
        }
    }

    .button{
        margin-top:20px;
    }

    &__link{
        &:hover{
            text-decoration:none;
        }
    }

    &__title{
        color: #fff;
        font-size: 45px;
        line-height:50px;
        font-weight:800;
        text-transform:uppercase;
        padding-bottom: 0px;
        font-family: $heading-large;
    }

    &__text{
        color: #fff;
        font-size: 18px;
        line-height:30px;
    
    }
    .slick-list{
        height: 100% !important;   
    }
    .slick-track{
        height: 100%;
    }
    &__dots {
        margin: 0;
        text-align: center;
        bottom: 20px;
        left: 20px;
        right:20px;
        position: absolute;
        line-height:20px;
    }
    @media screen and (max-width: 570px) {
        &__item{
            &__inner{
                width: 100%;
                text-align:left;
            }
        }
        &__title{
            font-size: 34px;
            line-height: 40px;
        }
        &__item{
            background-size: 150%;
             &.full-width{
                .hero__item__inner{
                    width: 100%;
                }
            }
        }
       
    }
}
.home-section{
    padding-top: 90px; 
}
.home-heading-content{
    position: relative;
    margin-bottom: 40px;
    &__heading{
        display: inline-block;
        border-left: 4px solid $main;
        padding-left: 10px;
    }
    &__slug{
            font-family: $heading-font-light;
            color: $main;
            margin: 0;
            font-weight: 600;
        }
    &__title{
         color: $secondary;        
         padding: 0;
         font-size: 36px;
         font-weight: 700;
    }
    &__button{
        display: inline-block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.partners{
    &__icons{
        img{
            height: 80px;
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
            margin-bottom: 30px;
            filter: grayscale(100%);
            transition: all 0.1s ease-in-out;
            &:hover{
               filter: grayscale(0%); 
            }
        }
    }
    &__text{
        font-size: 18px;
        line-height: 33px;
    }
}
.about{
    &__image{
        min-height: 500px;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    &__content{
        padding: 50px 0px 30px 15px;
    }
    &__text{
        font-size: 18px;
        line-height: 33px;
    }
    @media only screen and (max-width: 600px){
        &__image{
            min-height: 250px;
        }
    }
}
.blocks{
    .git-heading{
        padding-bottom: 25px;
        color: $black;
    }
    .git-text{
        color: $black
    }
    &.contact{
        padding-top:70px;
    }
    &__item{
        position: relative;
        min-height: 500px;
        &__left{
            position: absolute;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: $main;
        }
        &__right{
            position: absolute;
            right: 0;
            width: 50%;
            height: 100%;
        }
    }
    .block__content{
        padding-bottom:70px;
        &__left{
            .block-inner{
                width: 90%;
            }
        }
        &__right{
            .block-inner{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                padding-left: 50px;
            }
        }
    }
    .git-info{
        font-size: 13px;
        &__content{
            a{
                padding-left: 10px;
                font-weight: 700;
                color: $main;
                font-size: 15px;
                &:hover{
                    color: $white;
                }
            }
        }
    }
    .git-social{
        a{
            color: $main;
            font-weight: 700; 
            &:hover{
                color: $white;
            }
        }
        &__item{
            padding-right: 15px;
            
        }
        i{
            padding-right: 10px;
        }
    }
    @media only screen and (max-width: 600px){
        &__item{
            &__left{
                display: none;
            }
            &__right{
                display: none;
            }
        }
        .block__content{
            &__left{
                background-color: $main;
                padding-bottom: 40px;
                margin-bottom: 40px;
                .block-inner{
                    width: 100%;
                }
            }
            &__right{
                .block-inner{
                    position: relative;
                    top: 0;
                    transform: unset;
                    padding-left:0;
                }
            }
        }
    }
}
.portfolio{
    &__item{
        padding-top: 120px;
        padding-right:120px;
        &__image{
            img{
                width: 100%;
            }
        }
        &__info{

        }
    }
    &__title{
        position:relative;
        margin-bottom: 20px;
        h1{
            margin: 0;
            display: inline-block;
        }
        a{
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 15px;
        }

    }
}

 @media only screen and (max-width: 840px){
    .portfolio{
        &__title{
            h1{
                display: block;
            }
            a{
                position:relative;

                display: block;
                right: unset;
                margin-top: 30px;
            }
        }
    }
 }
 @media only screen and (max-width: 600px){
    .section{
        overflow: hidden;
    }
    .portfolio{
        &__item{
            padding-right:0px;
            &__info{
                margin-bottom: 50px;
            }
            &__image{
                overflow: hidden;
            }
        }
    }
    .side-menu{
        position:relative;
        top: 0;
        &__list{
            &__item{
                font-size: 40px;
            }
        }

    }
 }