.page-header{
	padding:100px 0px 0px 0px;
	text-align: center;
	position: relative;
	&__title{
		padding-top: 60px;
    	color: $white;
    	text-transform: uppercase;
    	font-family: $heading-font;
    	z-index: 100;
    	position: relative;
    	h1{
    		font-size: 61px;
    		font-weight: 700;
    	}
	}
	&-notitle{
		height: 300px;
	    background-size: cover;
	    background-position: center;
	    .overlay{
	    	z-index: 0;
	    }
	}
	&--simple{
		background-color: unset;
		text-align: left;
		.page-header__title{
			h1{
				color: $secondary;
				font-size: 50px;
			    font-weight: 700;
			    border-left: 4px solid $main;
			    padding-left: 10px;
			}
			
		}
	}
     @media screen and (max-width: 570px) {
     	padding: 20px 0 50px 0;
		margin-top: 60px;
     	&__title{
     		h1{
     			font-size: 32px;
    			font-weight: 700;
     		}
     	}
     }
	
}

.breadcrumbs{
	padding: 0;
	margin-top: 30px;
    margin-bottom: 0px;
    font-size: 13px;
	&__item{
		display: inline-block;
		list-style: none;
		a{
			color: $lighterText;
		}
	}
	&__separator{
		display: inline-block;
		list-style: none;
	}
}
.template-stores{
	.page-header{
		margin-bottom: 0px;
	}
}