.posts{
	margin-top: 70px;

	&__item{
		height: 270px;
	    padding: 20px 10px 20px 40px;
	    background-size: cover;
	    background-position: center;
	    position: relative;
	    box-shadow: 0px 0px 7px 2px #0c23402e;
    	background-color: #fff;
    	margin-bottom: 15px;
    	transition: box-shadow 0.2s ease-in-out, opacity 0.6s !important;
	    &__content{
			border-left: 3px solid $main;
			z-index: 2;
		    position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    padding: 10px 10px 10px 20px;
			&__date{
				margin: 0;
				font-size: 13px;
    			margin-bottom: 5px;
			}
			&__title{
				font-size: 26px;
			}
			&__text{
				margin: 0;
				font-size: 14px;
    			line-height: 17px;
			}
			&.dark{
				.posts__item__content__date{
					color: $white;
				}
				.posts__item__content__text{
					color: $white;
				}
				.posts__item__content__title{
					color: $white;
				}
			}
			&.light{
				.posts__item__content__date{
					color: $gray;
				}
				.posts__item__content__text{
					color: $gray;
				}
				.posts__item__content__title{
					color: $secondary;
				}
			}
		}
		&:hover{
			box-shadow: 0px 0px 10px 5px #0c23402e;
		}
	}
}
.post-date{
	margin-bottom: 5px;
    font-size: 13px !important;
    text-align: center;
}
.post-title{
	font-size: 36px;
    text-align: center;
}
.entry-wrapper{
	width: 100%;
	margin: auto;
    margin-top: -70px;
    background-color: #fcfcfc;
    z-index: 1000;
    border-top: 4px solid $main;
}
.related-posts{
	&__nav{
		margin-bottom: 40px;
		margin-top: 70px;
		h2{
			display: inline-block;
			padding: 0;
			padding-left: 10px;
			border-left: 4px solid $main;
		}
		&__controls{
			display: inline-block;
		    position: absolute;
		    right: 0;
		}
	}
	.slick-list{
		padding: 10px 6px;
	}
	

	.slick-slide{
		margin-right:10px;
    	margin-left:10px;
	}
}

