@keyframes pulse {
    0%   {
        box-shadow:0 0 0 $white;
    }
    30%  {
        box-shadow:0 0 10px $white;
    }
    40%  {
        box-shadow:0 0 10px $white;
    }
    100%  {
        box-shadow:0 0 0 $white;
    }
}

.smartmap{
    position: relative;
    min-height: 600px;
    background: #DCDCDC;
    padding-bottom:40px;
    .page-header{
        background: transparent;
        margin-bottom:0;
        z-index:2;
    }
    &__map{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        opacity:0;
        transition: opacity 0.1s;
        &.loaded{
            opacity:1;
            transition: opacity 0.7s;
        }
        .cluster-icon{
            width:50px;
            height:50px;
            color:$white;
            font-weight:bold;
            font-size:14px;
            text-align:center;
            line-height:50px;
            border-radius:50%;
            position:absolute;
            background:rgba($link, 0.3);
            cursor:pointer;
            &:before, &:after{
                content:'';
                position:absolute;
                z-index:-1;
                border-radius:50%;
            }
            &:before{
                background:rgba($link, 0.6);
                left:5px;
                right:5px;
                top:5px;
                bottom:5px;
            }
            &:after{
                background:$link;
                left:10px;
                right:10px;
                top:10px;
                bottom:10px;
            }
        }
    }
    &__pin{
        width: 24px;
        height:30px;
        overflow: visible !important;
        &:after{
            position:absolute;
            left:0;
            top:0;
            bottom:0;
            right:0;
            content:'';
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../images/icon-pin.svg');
        }
    }
    .container{
        position: static;
    }
    &__filter{
        height:42px;
        width:calc(50% - 3px);
        float: left;
        overflow: hidden;
        opacity:0;
        &.ready{
            opacity:1;
            overflow: visible;
        }
        &s{
            position: relative;
            z-index:3;
        }
        &:nth-child(2){
            float:right;
        }
        & > .smartmap__filter__prefix{
            display:none;
        }
        .selectize{
            &-control{
                top: -20px;
            }
            &-input{
                padding:12px 20px;
                border: none;
                box-shadow: none;
                font-size:15px;
                font-weight:600;
                letter-spacing: 1px;
                color:$headingSmall;
                .smartmap__filter__prefix{
                    float: left;
                    color: #000;
                    margin-right:15px;
                }
                input, [data-value]{
                    & + .smartmap__filter__prefix{
                        display: none;
                    }
                }
            }
            &-control.single .selectize-input{
                &:after{
                    border-width: 6px 5px 0 5px;
                    margin-top:-3px;
                    border-color: $headingSmall transparent transparent transparent;
                    transition: transform 0.2s;
                }
                &.dropdown-active:after{
                    transform: rotate(-180deg);
                }
            }
            &-dropdown{
                border: none;
                border-radius: 0 0 5px 5px;
                box-shadow: none;
                margin: 5px 0 0;
                overflow: hidden;
                &-content{
                    max-height:300px;
                }
                .option{
                    padding: 11px 34px;
                    background: transparent;
                    transition: background 0.2s, border 0.2s;
                    border: 1px solid transparent;
                    margin:-1px 0 0;
                    color:$headingSmall;
                    font-size:15px;
                    font-weight:600;
                    letter-spacing: 1px;
                    cursor:pointer;
                    &:first-child{
                        margin:0;
                    }
                    &:hover, &.active{
                        border-color: $border-color;
                        background: $border-color;
                    }
                }
            }
        }
    }
    &__popup{
        background:#213550;
        position:relative;
        z-index:2;
        color:$white;
        padding:85px 50% 90px 107px;
        margin:2px 0 0;
        transition:all 0.4s;
        opacity:0;
        visibility:hidden;
        &.active{
            opacity:1;
            visibility:visible;
        }
        p{
            font-size:14px;
            font-weight: 600;
            line-height:1.875;
        }
        &__image{
            position:absolute;
            right:0;
            top:0;
            bottom:0;
            width:40%;
            background: transparent no-repeat center center;
            background-size:cover;
            opacity:0.1;
        }
        &__close{
            position:absolute;
            top: 25px;
            right:30px;
            font-size:14px;
            font-weight:600;
            letter-spacing: 2px;
            padding-right:23px;
            cursor:pointer;
            span{
                position:absolute;
                right:0;
                top:5px;
                width:12px;
                height:12px;
                transform:rotate(45deg);
                &:before, &:after{
                    content:'';
                    background:$white;
                    position: absolute;
                }
                &:before{
                    top:0;
                    bottom:0;
                    width:2px;
                    left:50%;
                    margin-left:-1px;
                }
                &:after{
                    left:0;
                    right:0;
                    height:2px;
                    top:50%;
                    margin-top:-1px;
                }
            }
        }
        &__title{
            font-size:34px;
            margin:0 0 10px;
            font-weight:400;
        }
        &__button{
            margin-top:36px;
            min-width:187px;
        }
    }
    &__seller{
        float:right;
        width:0;
        position:relative;
        z-index:2;
        color:$white;
        margin-top:20px;
        
        &__inner{
            background: #213550;
            overflow:hidden;
            padding:64px 38px 70px;
            width:auto;
            display: inline-block;
            position:relative;
            transition: all 0.4s;
            opacity:0;
            visibility:hidden;
            width: 340px;
            float: right;
            
        }
        &.active .smartmap__seller__inner{
            opacity:1;
            visibility:visible;
        }
        &__head{
            white-space:nowrap;
            padding: 10px 0 0 0px;
            min-height:77px;
            position:relative;
        }
        &__title{
            margin:20px 0 0;
            font-weight:600;
            font-size: 14px;
            text-transform: uppercase;
            font-family: $main-font;
            color: #fff;
        }
        &__logo{
            width:136px;
            height:77px;
            padding:5px;
            line-height:67px;
            text-align:center;
            position:absolute;
            left:0;
            top:0;
            background:$white;
            img{
                vertical-align:middle;
                max-height:67px;
            }
        }
        &__close{
            position:absolute;
            top: 25px;
            right:30px;
            font-size:14px;
            font-weight:600;
            letter-spacing: 2px;
            padding-right:23px;
            cursor:pointer;
            span{
                position:absolute;
                right:0;
                top:5px;
                width:12px;
                height:12px;
                transform:rotate(45deg);
                &:before, &:after{
                    content:'';
                    background:$white;
                    position: absolute;
                }
                &:before{
                    top:0;
                    bottom:0;
                    width:2px;
                    left:50%;
                    margin-left:-1px;
                }
                &:after{
                    left:0;
                    right:0;
                    height:2px;
                    top:50%;
                    margin-top:-1px;
                }
            }
        }
        &__distance, &__directions{
            padding-left:24px;
            background: transparent no-repeat center left;
            background-image: url('../images/icon-pin.svg');
            font-weight:600;
            line-height:34px;
        }
        &__distance .number{
            transition: all 0.2s;
            min-width:34px;
            min-height:34px;
            background: transparent no-repeat center center;
            background-size:34px 34px;
            display:inline-block;
            vertical-align:middle;
            &.loading{
                color:transparent;
                 background-image: url('../images/loader.svg');
            }
        }
        &__hours{
            font-size: 14px;
            opacity: 0.75;
            margin-bottom: 20px;
        }
        &__directions{
            background-image: url('../images/icon-directions.svg');
            letter-spacing:1px;
            background-size: 15px;
            a{
                text-decoration: underline;
                font-size: 14px;
                ont-weight: 500;
                color: #1692bf;
                &:hover, &:active, &:focus{
                    text-decoration:none;
                    color:$link;
                }
            }
        }
        &__address{
            opacity:0.75;
            margin: 5px 0 10px;
            font-size: 14px;
        }
        &__name{
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
        &__info{
            color:rgba($white, 0.75);
            padding-left:30px;
            background: transparent no-repeat center left;
            margin:20px 0;
            font-size: 14px;
            a{
                color:inherit;
                text-decoration:underline;
                &:hover{
                    color:inherit;
                    text-decoration: none;
                }
            }
            &--phone{
                font-size:16px;
                letter-spacing:1.5px;
                font-weight:600;
                background-image: url('../images/icon-seller-phone.svg');
            }
            &--mail{
                background-image: url('../images/icon-seller-mail.svg');
            }
            &--web{
                background-image: url('../images/icon-seller-web.svg');
            }
        }
    }
}

.page-template-template-smart-map-temporary, .page-template-template-smart-map{
    .header__right .button--green{
        display:none;
    }
}

.store-list{
    padding-top: 50px;
    &__heading-wrapper{
        border-top: 1px solid #dfdfdf;
    }
    &__heading{
        padding: 0;
        margin: 0;
        button{
            display: block;
            width: 100%;
            font-family: Gilroy,sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #083988;
            border: 0; 
            text-align: left;
            padding: 30px 20px;
            position: relative;
            background-color: #fff;
            cursor: pointer;
            transition: color 0.2s linear;
            &:focus{
                border: 0;
                outline: 0;
            }
            &:hover{
                color: $link;
            }
        }
    }
    &__item-wrapper{
          margin-bottom: 30px;
    }
    &__items{
        padding: 0px 20px;
    }
    &__item{
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 40px;
    }
    &__seller{
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #000;
    }
    &__phone{
        padding-left:30px;
        background: transparent no-repeat center left;
        color:$secondary;
        font-size:16px;
        letter-spacing:1.5px;
        font-weight:600;
        background-image: url('../images/icon-seller-phone-dark.svg');
        display: block;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 995px) {
    .smartmap{
        &__popup{
            padding:50px 40% 60px 40px;
            &__image{
                width:30%;
            }
            &__close{
                top: 15px;
                right: 20px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .smartmap{
        &__filter{
            width:100%;
            margin: 3px 0;
        }
    }
}


@media screen and (max-width: 570px) {
    .smartmap{
        &__popup{
            padding:50px 20px 40px 20px;
            &__image{
                display:none;
            }
        }
    }
}


@media screen and (max-width: 500px) {
    .smartmap__seller{
        &__inner{
            width: calc(100vw - 40px);
        }
        &__logo{
            position:static;
            width:auto;
            margin: 0 0 15px;
        }
        &__head{
            padding:0;
            white-space: normal;
        }
    }
}