.work{
	margin-top: 70px;
	&__item{
		height: 350px;
		background-size: cover;
		background-position: center;
		position: relative;
		.overlay{
			opacity: 0;
			transition: all 0.2s ease-in-out;
		}
		.button{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    opacity: 0;
		    z-index: 100;
    		color: #d6d0c1 !important;
		}
		&:hover{
			.overlay{	
				opacity: 0.4;
			}
			.button{	
				opacity: 1;
			}
		}
	}
	&__info{
		height: 80px;
		border-bottom: 2px solid #1b1b1b;
		h3{
			font-size: 16px;
    		padding-top: 10px;
    		text-transform: none;
		}
		
	}
}