.button{
    background-color: rgba(108, 172, 228, 0.4);
    border: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    display: inline-block;
    cursor: pointer;
    color: $white;
    padding: 14px 34px;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    min-width: 160px;
    border-radius: 4px;
    text-transform: uppercase;
    border: 2px solid $main;
    font-family: $heading-font;
    letter-spacing: 0.5px;
    &:hover{
        background: $main;
        color: $white;
        text-decoration: none;
    }
    &__small{
        background-color: $main;
        color:$white;
    }
    &__light{
        color: #fff !important;
        border-color: #fff;
        background-color: transparent;
        &:hover{
            color: $secondary !important;
        }
    }
}
.button-dark{
    background: 0 0;
    border: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    display: inline-block;
    cursor: pointer;
    color: #0e0e0e;
    padding: 14px 34px;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    min-width: 160px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    border: 2px solid #0e0e0e;
      &:hover{
            color: $white;
            background-color: #0e0e0e;
        }
}
.button-rounded a{
    transition: all .2s;
    background: $main;
    color: $white !important;
    text-decoration: none;
    padding: 14px 24px;
    font-weight: 700;
    border-radius: 4px;
    font-size: 15px;
    border: 2px solid $main;
    &:hover{
        background: transparent;
        color: $main;
        text-decoration: none;
    }
    &:before{
        display: none !important;
    }
}
.button-close{
    background-color: #fff;
    border: 0;
    font-size: 12px;
    text-transform: uppercase;
    color: #828b8a;
    text-decoration: underline;
    font-weight: 400;
    transition: all 0.2 linear;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        color: #363837;
    }
}
.button--read-more{
    font-family: $heading-font;
    transition:all 0.2s linear;
    cursor:pointer;
    color:$main !important;
    font-weight:600;
    font-size:14px;
    line-height:20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    &:after{
        content: "";
        background-image: url(../images/bulta-right.svg);
        padding: 0px 10px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 8px;
        transition:all 0.2s ease-in-out;
        position: relative;
        left: 0;
    }
    &:hover{
        text-decoration:none;
        &:after{
            content: "";
            background-image: url(../images/bulta-right.svg);
            left: 10px;
            
        }

    }
    
}

.info-icon{
    display: block;
    color: $main;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.2 linear;
    &__icon{
        padding-right: 10px;
    }
    &:hover{
        color: $secondary;
    }
    
    
}

.button--light{
    cursor: pointer;
    font-size: 10px;
    border:1px solid $gray;
    color: $secondary !important;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px 10px;
    transition: all 0.1s ease-in-out;
    &:hover{
        color: #fff !important;
        border-color:$secondary;
        background-color: $secondary;
    }
}
.readmore-text{
    font-weight: 600;
    color: $secondary  !important;
    color: #C53027;
    font-size: 13px;
    display: block;
    text-align: right;
    &:hover{
        text-decoration: underline;
    }
}
.slick-controls{
    .arrow-left{

    }
    .arrow-right{

    }
    .arrow-left, .arrow-right{
      display: inline-block;
      transition: all 0.2s linear;
      pointer:cursor;
      svg{
        g{
            stroke: $white;
            fill: $secondary;
        }
      }
      &:hover{
        svg{
        g{
            fill: #D8D8D8;
        }
      }
      }
    }
}
.share{
    text-align: center;
    width: 90px;
    position: absolute;
    p{
       text-transform: uppercase;
       font-weight: 500;
       font-size: 13px;

    }
    &__icon{
        pointer:cursor;
        width: 40px;
        height: 40px;
        display: block;
        position: relative;
        border: 1px solid #DFDFDF;
        border-radius: 100%;
        margin: auto;
        svg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover{
            background-color: $secondary;
            border-color: $secondary;
            svg{
                g{
                  g{
                    fill: $white;
                  }
                }
            }
        }
    }
}
@media screen and (max-width: 570px) {
    .share{
       position: relative;
    }
}
$width: 15px;
$lineWidth: 2px;
$color: $secondary;
.plus-icon{
    box-sizing: border-box;
    transition: transform 0.3s;
    width: $width;
    height: $width;
    transform: rotate(180deg);
    position: absolute;
  right: 20px;
    &::before {
        content: '';
        display: block;
        width: $width;
        height:0px;
        border-bottom: solid $lineWidth $color;
        position: absolute;
        bottom:$width /2 - $lineWidth/2;
        transform: rotate(90deg);
        transition: width 0.3s;
    }
    &::after {
        content: '';
        display: block;
        width: $width;
        height:0px;
        border-bottom: solid $lineWidth $color;
        position: absolute;
        bottom:$width /2 - $lineWidth/2;
    }
}
button[aria-expanded="false"] .plus-icon{
   
}
button[aria-expanded="true"] .plus-icon{
transform: rotate(0deg);
 &::before {
    content: '';
    display: block;
    width: 0px;
    height:0px;
    border-bottom: solid $lineWidth $color;
    position: absolute;
    bottom:$width /2 - $lineWidth/2;
    transform: rotate(90deg);
  }
}
