.solution-list{
	padding: 0;
    margin: auto;
    margin-top: 50px;
    &__item{
    	height: 240px;	
    	margin-bottom: 20px;
        transition: all 0.2s linear;
        &__title{
            color: #fff;
            z-index: 100;
            position: absolute;
            font-size: 20px;
            padding: 0px 10px;
            text-align: right;
            font-weight: 600;
            top: 20%;
            right: 0;
        }
    	&__inner{
    		height: 100%;
    		background-size: cover;
            position: relative;
    	}
          &:hover{
            .overlay{
                opacity: 0.2;
            }
            .slick-next{
            
                background-color: $secondary;
                border-color: $secondary;
                opacity: 1;
                &:before{
                    color:#fff;
                    opacity: 1;
                    content: "";
                    background-image: url(../images/adk-icon-bulta-right-white.svg);
                }
            }
        }
    }
    .slick-next{
        top: unset;
        bottom: 30px;
        position: absolute;
    }
  
}