@import url('https://fonts.googleapis.com/css?family=Montserrat:700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$heading-large : 'Roboto Condensed', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$heading-font-light: 'Playfair Display', serif;
$main-font: 'Lato', sans-serif;
/*COLORS*/
$black: #0e0e0e;
$white: #FCFCFC;
$main: #6CACE4;
$secondary: #0C2340;
$gray: #717171;
$textDark: #666666;
$lighterText: #7D7D7D;
$border_color: #E9E9E9;
$text: #717171;
$headingSmall: #D6D0C2;
$link: #1892BF;

.wrapper{
	background-color: $white;
    margin: 0 auto;
    overflow: hidden;
}
.no-scroll{
	height: 100vh;
	overflow: hidden;
}
/* Typography */
p, a{
	font-family: $main-font;
	color: $gray;
	font-size: 15px;
}

a{
	&:hover{
		color: $secondary;
		text-decoration: none;
	}
}
h1{
	font-family: $heading-font;
	color: $secondary;
	margin-bottom: 20px;
	text-transform: uppercase;
}
h2{
	font-family: $heading-font;
	font-size: 34px;
    font-weight: 800;
    color: $secondary;
    padding: 70px 0px 70px 0px;
    text-transform: uppercase;
}
h3{
	font-family: $heading-font;
	color: $secondary;
	text-transform: uppercase;
	font-weight: 700;
}
h4{
	font-size: 15px;
    line-height: 27px;
    font-family: $heading-font;
    color: $secondary;
}
.text{
	font-size:13px;
	color: $text;
}
.link{
	text-decoration: underline;
	transition: all 0.1s ease-in-out;
	&--grey{
		color: #242626;
		&:hover{
			color: $secondary;
		}
	}
}
.hidden{
	display: none;
}
.n-visiable{
	opacity: 0 !important;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.lead-text{
	    font-size: 16px;
    line-height: 30px;
}
.overlay{
	transition: all 0.2s linear;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    background-color: #0C2340;
    opacity: 0.6;
    z-index: 1;
}

.entry-content{
	max-width: 750px;
	padding-top: 40px;
	p{
		color: $text;
	    font-size: 16px;
	    font-weight: 400;
	}
	&__featured-image{
	    height: 350px;
	    background-size: cover;
	    background-position: center;
	    margin-bottom: 40px;
	    margin-top: 50px;
	}
	ul {
		font-size: 14px;
		line-height: 1.5em;
		margin: 5px 0 15px;
		padding: 0;
		li {
			list-style: none;
			position: relative;
			padding: 0 0 10px 20px;
			line-height: 20px;
			color: #808988;
			font-family: $main-font;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 9px;
				width: 8px;
	      		display: block;
				border-top: 2px solid $main;
			}
		}
	}
}
.entry-wrapper{
	.entry-content{
		max-width: 650px;
		margin: auto;
	}
}
.notfound-page{
    padding-top: 180px;
    text-align: center;
    h1{
    	font-size: 110px;
    	color: $main;
    }
    h3{
    	margin-bottom: 30px;
    	color: $secondary;
    }
}

.archive-desc{
	max-width: 570px;
	p{
		font-size: 16px;
	}
}
@media (min-width: 992px){
	.container{
		max-width: 1100px;
	}
}
.mob-only{
	display: none
}
@media only screen and (max-width: 600px){
	.mob-hidden{
		display: none !important;
	}
	.mob-only{
		display: block
	}
}